* {
    margin: 0;
    font-family: sans-serif;
}

.circleImg {
    width: 3em;
    height: 3em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.circleImg img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

main {
    padding-left: 6%;
    padding-top: 2%;
}

figure#profileImage {
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    display: inline-block;
}

figure figcaption {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.322);
    height: 99%;
    width: 100%;
    opacity: 0;
}

figure figcaption:hover {
    opacity: 1;
}

img#fotoPerfil {
    height: 100%;
    width: 100%;
}

figcaption img.editIcon {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}

img.editIcon:hover {
    cursor: pointer;
}

div#header {
    width: 100%;
    height: max-content;
    border: 2px solid black;
}

div.userInfo {
    width: max-content;
    display: inline-block;
}

h1 {
    display: inline;
}