* {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

figure#profileImage {
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    display: inline-block;
    width: 20em;
    left: 8%;
    top: 5em;
    border: 5px solid white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.24);
}

figure figcaption {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.322);
    height: 98.5%;
    width: 100%;
    opacity: 0;
}

figure figcaption:hover {
    opacity: 1;
    color: white;
    font-weight: bold;
}
div#painelGenero {
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.200);
    position: absolute;
    right: 0;
    width: 25%;
    height: 60%;
    top: 10em;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#painelGenero p {
    margin: 1.7em;
    font-size: larger;
    font-weight: bold;
}

img#profilePhoto {
    width: 100%;
}

figcaption img.editIcon {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

img.editIcon:hover, img.saveIcon:hover {
    cursor: pointer;
}

img.saveIcon {
    width: 24px;
    height: 24px;
    display: none;
}

div#header {
    width: 100%;
    height: 18em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    background: linear-gradient(20deg, #00C9FF 0%, #92FE9D 100%);
}

div.userInfo {
    width: max-content;
    display: inline-block;
    position: absolute;
    top: 10.8em;
    left: 35%;
}
div input, div textarea {
    padding: 10px;
    border: 3px solid rgb(115, 243, 190);
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 .5em rgba(0, 0, 0, 0.295);
}
div input[type = image] {
    border: none;
}

h1 {
    display: inline;
}
input {
    display: none;
}
textarea{
    display: none;
    resize: none;
}
#name {
    font-size: 2em;
}
#bio p {
    width: 25em;
    display: inline;
    overflow-wrap: break-word;
}