* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    z-index: 10;
}

nav {
    width: 5%;
    height: 100%;
    min-width: 70px;
    background-color: rgba(126, 126, 126, 0.226);
    position: relative;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.377);
    padding-top: 10px;
    transition: .1s;
}

nav img {
    display: block;
    margin: 0 auto;
}

nav img:hover {
    filter: invert();
    cursor: pointer;
}

section {
    background-color: black;
    width: 24em;
    height: 36em;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 0 1em black;
}

#foto {
    width: 24em;
    height: 30em;
    border-radius: 20px 20px 0 0;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/26/01/04/woman-2889882_960_720.jpg);
    background-size: 100% 30em;
}

#legenda {
    height: 6em;
    width: 24em;
    background-color: rgb(221, 221, 221);
    border-radius: 0 0 20px 20px;
}

button{
    cursor: pointer;
}