@import url('https://fonts.googleapis.com/css?family=Solway');

* {
    margin: 0;
    font-family: 'Solway';
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Solway';
}

main {
    width: 100%;
    height: 100%;
    background-color: #4158D0;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    top: 0;
    z-index: 0;
    position: fixed;
}

section#nextProfile {
    position: absolute;
    height: max-content;
    top: 0;
    left: 38%;
    bottom: 0;
    margin: auto 0;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.521);
    border-radius: 0 0 25px 25px;
    padding: 5px;
    font-family: 'Solway';
    display: none;
}

#foto {
    height: fit-content;
    border-radius: 20px 20px 0 0;
}

.next {
    animation: slideUp 1s;
}

.appear {
    animation: appear 1s;
}

@keyframes slideUp {
    0% {
        top: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        top: -200%;
    }
}

@keyframes appear {
    0% {
        top: -200%;
    }

    1% {
        opacity: 1;
        top: 200%;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

#options {
    height: 6em;
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 0 20px 20px;
    display: block;
}

#legenda {
    height: 100%;
    max-height: 12em;
    width: 30em;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    font-family: 'Solway';
}

#nome {
    color: white;
    position: absolute;
    top: 1em;
    left: 5%;
    font-weight: bold;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    font-family: 'Solway';
}

#descricao {
    color: white;
    position: absolute;
    top: 4em;
    left: 5%;
    font-size: 90%;
    width: 90%;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    overflow-wrap: break-word;
}

p#sexualidade {
    color: white;
    position: absolute;
    right: 2em;
    top: 2em;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#prev-icon, #next-icon {
    width: 50px;
    z-index: 300;
}

#prev-icon:hover, #next-icon:hover {
    cursor: pointer;
}

.botao {
    border-radius: 10px;
    border: none;
    flex-direction: row;
    margin: 0 auto;
}

#love, #deny {
    filter: grayscale(100%);
    transition: 1s;

}

#love:hover, #deny:hover {
    filter: none;
    width: 3em;
    cursor: pointer;
    transition: .3s;
}

#noAccountSection {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#introduction {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 70%;
    text-align: center;
    bottom: 0;
    margin: auto;
}

img#namorif {
    height: 25%;
    margin: 0 auto;
    margin-top: 20px;
}

#introduction #buttons {
    width: 40%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 9%;
    display: inline-block;

}

#buttons button {
    background-image: linear-gradient(30deg, rgb(127, 224, 195), rgb(5, 112, 161));
    width: 50%;
    height: 20%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 10px;
    transition: .3s;
    font-size: medium;
}

#buttons button:hover {
    cursor: pointer;
    box-shadow: .5em .5em 1em 0 rgba(0, 0, 0, 0.226);
    vertical-align: baseline;
}

#introduction #aboutNamorif {
    display: inline-block;
    width: 40%;
    padding-left: 2em;
    top: 27%;
    left: 20%;
    font-size: 150%;
    text-align: justify;
}