*{
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
}
main {
    position: fixed;
    background-image: linear-gradient(20deg, #92FE9D, #00C9FF);
    width: 100%;
    height: 100%;
}
div#accountConfigPage {
    position: fixed;
    margin: 0 auto;
    background-color: white;
    width: 30em;
    height: 100%;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.349);
    left: 0;
    right: 0;
    display: block;
    overflow-y: auto;
}
div#accountConfigPage::-webkit-scrollbar {
    display: none;
}
div.configPage input{
    display: none;
}

div.configPage label[name="procurar"], label[name="gender"]{
    display: none;
}

div.configPage div{
    cursor: pointer;
}
select {
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
}
.userInfoBox{
    border-bottom: 2px solid gray;
    width: 100%;
    text-align: center;  
    vertical-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em 0 2em 0;
}
.userInfoBox label:hover {
    cursor: pointer;
}
#bottonSave {
    width: 90%;
    background-image: linear-gradient(30deg,greenyellow, cyan);
    color: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.281);
    align-self: center;
    margin: 25px;
}
#bottonSave:hover {
    background-image:linear-gradient(30deg,greenyellow, rgba(0, 255, 255, 0.432)) ;
    cursor: pointer;
}
.userInfoBox input {
    border: gray solid 2px;
    padding: .5em;
    border-radius: 10px;
    margin: 0 auto;
}
input.newusername, input.newemail{
    clip: auto;
    position: relative;
    left: 0%;
}
input.newsexuality{
    clip: auto;
    position: relative;
    left: 0%;
}
#opcaoSexual{
    clip: auto;
    position: relative;
}
#confirmDeleteAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#confirmDeleteAccount button{
    background-color: white;
    width: 10%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}
#confirmDeleteAccount button:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}