*{
    margin: 0;
}

body{
    width: 100%;
}

main {
    background-image: linear-gradient(40deg, rgb(0, 255, 221), greenyellow);
    width: 100%;
    height: 41em;
}
div#accountConfigPage {
    margin: 0 auto;
    background-color: white;
    width: 30em;
    height: 100%;

}

div.configPage input{
    display: none;
}

div.configPage label[name="procurar"]{
    display: none;
}

div.configPage div{
    margin: 1em auto;
    cursor: pointer;
}
